<h1>Nodes</h1>

<div class="text-end">
  Analisi: 
  <%= link_to "ubuntu 16.04", analysis_nodes_path(os: "ubuntu", os_version: "16.04"), class: "badge bg-warning text-dark" %>
  <%= link_to "ubuntu 20.04", analysis_nodes_path(os: "ubuntu", os_version: "20.04"), class: "badge bg-warning text-dark" %>
</div>

<%= render ListGroupLimitVisibleComponent.new(placeholder: "Scrivi parte del nome del nodo") do %>
  <% @nodes.each do |item| %>
    <%= link_to item, class: "list-group-item list-group-item-actions", data: {"limit-visible-target" => "item", text: item.name} do %>
      <%= item.name %> <span class="small float-end"><%= item.operatingsystem %> <%= item.operatingsystemrelease %></span>
    <% end %>
  <% end %>
<% end %>

