<h1>
  <%= @node.name %>
  <%= link_to_edit("", [:edit, @node]) if policy(@node).edit? %>
</h1>

<% unless @node.notes.blank? %>
  <div class="info"><%= @node.notes %></div>
<% end %>

<dl class="dl-horizontal">
  <dt>Progetti</dt>  
  <dd class="pb-2">
    <% @node.role.projects.each do |p| %>
      <%= link_to p.name, p, class: "btn btn-success py-1" %>
    <% end %>
  </dd>
  <dt>Ruolo</dt>
  <dd><%= link_to @node.role.to_s.upcase, @node.role %></dd>
  <dt>Gruppi Amm</dt>
  <% @node.role.ad_groups.each do |adg| %>
    <dd>
      <%= link_to adg, adg %><br/>
      <small><%= adg.contacts.sort.join(", ") %></small>
    </dd>
  <% end %>
  <dt>Servizi</dt>
  <dd>
    <% @node.node_services.order(:software_id, :port).each do |service| %>
      <strong><%= service.software %></strong> on port <%= service.port %> <br/>
    <% end %>
  </dd>
  <dt>Siti web</dt>
  <dd>
    <% @node.web_sites.each do |ws| %>
      <div>
        <%= link_to ws, ws, data: {turbo_frame: :modal}, class: "" %>
        <span class="ms-2 badge text-dark small bg-success text-white bg-<%= web_site_state_color(ws) %>"><%= ws.requests %></span>
      </div>
    <% end %>
  </dd>
  <dt>IP</dt>
  <dd>
    <% @node.node_ips.each do |node_ip| %>
      <strong><%= node_ip.ip_to_s %></strong> <br/>
    <% end %>
  </dd>

  <% [:operatingsystem, :operatingsystemrelease, :kernelversion, :processorcount, :memorysize, :disks, :datacenter_zone].each do |att| %>
    <dt><%= att %></dt>
    <dd><%= @node.send(att) %>
  <% end %>
</dl>

<dl class="dl-horizontal">
  <dt>Accessi ssh</dt>
  <dd><%= render SshLogin::ListComponent.new(@node.ssh_logins.order("numbers desc"), show: :user) %></dd>
</dl>

<dl class="dl-horizontal">
  <dt>Zabbix</dt>
  <dd><%= link_to "monitoraggio zabbix", @node.zabbix_page %></dd>
  <dt>Buppet board</dt>
  <dd><%= link_to "http://puppet8-board.unibo.it/node/#{@node.name}", "http://puppet8-board.unibo.it/node/#{@node.name}" %></dd>
</dl>

<div class="alert alert-secondary">
  <% if File.exist?(@node.data_file) %>
    <pre>
      <%= raw File.open(@node.data_file).read %>
    </pre>
  <% else %>
    No file <i><%= @node.data_file %></i>.
  <% end %>
</div>


