<h1><%= @node.name %> <%= link_to_edit "", [:edit, @node] %></h1>

<% unless @node.notes.blank? %>
  <div class="info"><%= @node.notes %></div>
<% end %>

<dl class="dl-horizontal">
  <dt class="my-2">Progetti</dt>  
  <dd>
    <% @node.role.projects.each do |p| %>
      <%= link_to p.name, p, class: "btn btn-success" %>
    <% end %>
  </dd>
  <dt>Ruolo</dt>
  <dd><%= link_to @node.role.to_s.upcase, @node.role %></dd>
  <dt class="mb-3">Amm</dt>
  <dd>
    <% @node.role.ad_groups.each do |adg| %>
      <%= link_to adg, adg %>
    <% end %>
  </dd>
  <dt>Servizi</dt>
  <dd>
    <% @node.node_services.order(:software_id, :port).each do |service| %>
      <strong><%= service.software %></strong> on port <%= service.port %> <br/>
    <% end %>
  </dd>
  <dt>IP</dt>
  <dd>
    <% @node.node_ips.each do |node_ip| %>
      <strong><%= node_ip.ip %></strong> <br/>
    <% end %>
  </dd>

  <% [:operatingsystem, :operatingsystemrelease, :kernelversion, :processorcount, :memorysize, :datacenter_zone].each do |att| %>
    <dt><%= att %></dt>
    <dd><%= @node.send(att) %>
  <% end %>
</dl>

<dl class="dl-horizontal">
  <dt>Logins</dt>
  <dd><%= render SshLogin::ListComponent.new(@node.ssh_logins.order("numbers desc"), show: :user) %></dd>
</dl>



<div class="alert alert-secondary">
  <% if File.exist?(@node.data_file) %>
    <pre>
      <%= raw File.open(@node.data_file).read %>
    </pre>
  <% else %>
    No file <i><%= @node.data_file %></i>.
  <% end %>
</div>

<%= link_to "http://puppet8-board.unibo.it", "http://puppet8-board.unibo.it/node/#{@node.name}", class: "btn btn-primary" %>

