<div class="card text-end">
  <div class="card-header">
    Promemoria
  </div>
  <div class="card-body">
    <div class="accordion" id="dates_accordion">
      <% @dates.each do |date| %>
        <div class="accordion-item">
          <div class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed py-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= date.id %>" aria-expanded="false" aria-controls="collapse<%= date.id %>">
              <span class="pe-3"><%= helpers.important_date_icon(date) %></span>
              <%= I18n.l date.date %>
              <%= date.name %>
            </button>
          </div>
          <div id="collapse<%= date.id %>" class="accordion-collapse collapse" aria-labelledby="heading<%= date.id %>" data-bs-parent="#dates_accordion">
            <div class="my-2">
              <%= date.description %>
            </div>
            <div class="text-end my-2">
              <%= link_to_edit "modifica", [:edit, date] if @editable %>
            </div>
          </div>
        </div>
      <% end %>
      <% if @with_new %>
        <%= link_to "Aggiungi promemoria", [:new, @parent, :important_date], class: "mt-2 btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

