<h1>Utenti</h1>

<div class="my-2 text-end">
  <%= link_to "Nuovo Utente", new_user_path, class: "btn btn-primary" %>
</div>

<%= render ListGroupLimitVisibleComponent.new(placeholder: "Scrivi parte del nome") do %>
  <% @users.each do |item| %>
    <%= link_to item, class: "list-group-item list-group-item-action", data: {"limit-visible-target" => "item", text: item.cn} do %>
      <%= item %> <small>(<%= item.upn %>)</small> <%= item.cn %>
    <% end %>
  <% end %>
<% end %>
