<%= dm_form_for project do |f| %>
  <%= f.dm_error_notification %>  
  <%= f.input :name %>
  <div class="offset-sm-3">
    <%= f.rich_text_area :description %>
  </div>

  <% if !project.new_record? %>
    <div class="roles-association my-4">
      <%= f.association :roles, collection: Role.order(:name).all, as: :check_boxes, label: 'Ruoli' %>
    </div>
    <% if current_user.is_cesia? %>
      <div class="roles-association my-4">
        <%= f.association :users, collection: User.order(:upn).all, label_method: :upn, as: :check_boxes, label: 'Responsabili' %>
      </div>
    <% end %>
  <% end %>
  <%= f.submit %>
<% end %>
