<% selected_ids = project.role_ids %>
<%= render ListGroupLimitVisibleComponent.new(placeholder: "Scrivi parte del nome del ruolo", display: "inline-block") do %>
  <div class="roles-association my-4">
    <% Role.order(:name).each do |role| %>
      <div class="form-check" data-limit-visible-target="item" data-text="<%= role.name %>">
        <input class="form-check-input check_boxes" 
               type="checkbox" 
               <%= 'checked="checked"' if selected_ids.include?(role.id) %>
               value="<%= role.id %>" 
               name="project[role_ids][]" 
               id="project_role_ids_<%= role.id %>"/>
        <label for="project_role_ids_<%= role.id %>">
          <%= role.name %>
        </label>
      </div>
    <% end %>
  </div>
<% end %>

