<h1>Progetti</h1>

<% if policy(:project).new? %>
  <div class="text-end my-2">
    <%= link_to "Crea nuovo progetto", new_project_path, class: "btn btn-primary" %>
  </div>
<% end %>

<div class="row row-cols-1 row-cols-md-2 g-2">
  <% @projects.each do |project| %>
    <% my_project = (project.user_ids.include?(current_user.id)) %>
    <%= link_to project, class: "col link-underline link-underline-opacity-0" do %>
      <div class="card h-100 bg-light mb-1">
        <div class="card-header <%= project_color(project, my_project) %> fw-bold py-1">
          <%= project.name %>
          <% if project.agreements.any? %>
            <span class="float-end">Accordo</span>
          <% end %>
          <% if my_project %>
            <span class="float-end"><%= dm_icon(:star) %></span>
          <% end %>
        </div>
        <div class="card-body bg-white small">
          <%= project.description %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

