<h1>Modifica <i><%= @role %></i></h1>

<div class="my-5 alert alert-secondary">
  <pre><%= raw @role.pp_content %></pre>
</div>

<%= simple_form_for @role do |f| %>
  <%= f.rich_text_area :description %>
  <%= f.submit %>
<% end %>
