<h1>Modifica <i><%= @role %></i></h1>

<div class="my-5 alert alert-secondary">
  <pre><%= raw File.open(@role.pp_file).read %></pre>
</div>

<%= simple_form_for @role do |f| %>
  <%= f.rich_text_area :description %>
  <%= f.submit %>
<% end %>
