<h1>
  <%= @role %>
  <small>(<%= @role.os %>)</small>
  <%= link_to_edit("", [:edit, @role]) if policy(@role).edit? %>
</h1>

<div class="alert alert-primary">
  <%= @role.description %>
</div>

<div id="role_projects_tab">
  <%= render Role::ProjectsComponent.new(current_user, @role) %>
</div>

<div class="row my-3">
  <div class="col-md-6">
    <h2 class="my-2">Nodi</h2>
    <div class="list-group">
      <% @role.nodes.each do |node| %>
        <%= link_to node, node, class: "list-group-item list-group-item-action" %>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <h2 class="my-2">Gruppi</h2>
    <div class="list-group">
      <% @role.ad_groups.each do |adg| %>
        <%= link_to adg, adg, class: "list-group-item list-group-item-action" %>
      <% end %>
    </div>
  </div>
</div>

<h2>Logins</h2>
<% @role.nodes.each do |node| %>
  <%= render SshLogin::ListComponent.new(node.ssh_logins.order("numbers desc"), show: :all) %>
<% end %>

<div class="my-5 alert alert-secondary">
  <pre><%= raw @role.pp_content %></pre>
</div>

<div class="my-5 alert alert-secondary">
  <pre><%= raw @role.yaml_content %></pre>
</div>
