<h1>Accordi e convenzioni</h1>

<% if policy(:agreement).new? %>
  <div class="text-end my-2">
    <%= link_to "Crea nuovo acordo/convenzione", new_agreement_path, class: "btn btn-primary" %>
  </div>
<% end %>

<div class="row row-cols-1 row-cols-md-2 g-2">
  <% @agreements.each do |agreement| %>
    <%= link_to agreement, class: "col link-underline link-underline-opacity-0" do %>
      <div class="card h-100 bg-light mb-1">
        <div class="card-header fw-bold py-1">
          <%= agreement.name %>
        </div>
        <div class="card-body bg-white small">
          <div>
            <%= agreement.description %>
          </div>
          <div>
            <%= l agreement.start_date %> - <%= l agreement.end_date %> con <%= agreement.party %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


