<h1>
  <%= @agreement.name %>
  <%= link_to_edit("", [:edit, @agreement]) if policy(@agreement).edit? %>
</h1>

<%= dm_card title: @agreement.name do %>
  <%= render DlListComponent.new @agreement, [:party, :referent, :referent_contact, :description, :amount, :start_date, :end_date, :description, :notes] %>
  <dl class="dl-horizontal">
    <dt>Progetti</dt>
    <% @projects.each do |project| %>
      <dd>
        <strong><%= link_to project %></strong><small><%= project.description %></small>
      </dd>
    <% end %>
  </dl>
<% end %>

<div class="text-sm">
  <%= render ImportantDate::ListComponent.new(@agreement.important_dates.order(:date), editable: true, with_new: true, parent: @agreement) %>
</div>
