<%= render DmUniboCommon::MenuComponent.new(sso_user_upn, current_organization: current_organization) do %>  
  <% if current_user %>
    <li><%= link_to dm_icon('home', text: 'Progetti', size: :lg), main_app.projects_path %></li>
    <li><%= link_to dm_icon('wand-magic-sparkles', text: 'Roles', size: :lg), main_app.roles_path %></li>
    <li><%= link_to dm_icon('list', text: 'Nodi', size: :lg), main_app.nodes_path %></li>
    <li><%= link_to dm_icon('globe', text: 'Siti Web', size: :lg), main_app.web_sites_path %></li>
    <li><%= link_to dm_icon('code', text: 'Servizi', size: :lg), main_app.softwares_path %></li>
    <li><%= link_to dm_icon('users', text: 'Gruppi Admin', size: :lg), main_app.ad_groups_path %></li>
    <li><%= link_to dm_icon('users', text: 'Utenti', size: :lg), main_app.users_path %></li>
  <% end %>
<% end %>
